{% extends 'layout.html' %}

{% block body %}

    <div style="text-align: center;">
        <div>
            <p><h5>Mestrado em Engenharia Biomédica</h5></p>
            <h5>Processamento de Linguagem Natural - 2022/2023</h5>
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/EEUMLOGO.png" style="width: 10%" class="rounded">
        </div>
        <p><h6>TPC7 - Ana Luísa Sá PG49857</h6></p>
    </div>

    <div style="padding: 5%;">
        <hr>
        <div style="display: flex; align-items: center; justify-content: center;">
            <div>
                <h2>Bem vind@ à página inicial do Dicionário Médico</h2>
                <h5>Welcome to the Medical Dictionary home page</h5>
            </div>  
            <iframe src="https://giphy.com/embed/GfPrw7USykA0M" style="width: 5%; margin-left: 30px; margin-bottom: 30px;"></iframe>
        </div>
        <hr>
    </div>

{% endblock %}