{% extends 'layout.html' %}

{% block body %}

<div class="container w-50 p-4 my-4" style="border: 10px outset brown; border-radius: 3%;">
    <h3>Termo: {{ designation }}</h3>
    <hr>
    
    <div class="d-flex align-items-baseline">
        <img class="rounded m-2" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg" style="width: 2rem;">
        <h6>{{ value['en'] }}</h6>
    </div>
    
    <div class="d-flex align-items-baseline">
        <img class="rounded m-2" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Portugal.svg" style="width: 2rem;">
        <h6>Descrição<hr><p>{{ value['des'] }}</p></h6>
    </div>
</div>

    
{% endblock %}