{% extends 'layout.html' %}


{% block body %}

<div class="container p-4 w-75">
<h3>Tabela Resumo</h3>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Termo</th>
            <th>Tradução EN</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for key, d in designations %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ d["en"] }}</td>
            <td>{{ d["des"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Termo</th>
            <th>Tradução EN</th>
            <th>Descrição</th>
        </tr>
    </tfoot>
</table>
</div>

{% endblock %}